build:
  type: text
  content: |-
    #!/bin/sh
    lkl
    # make all
    # docker build
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    kubectl apply -n $ROOST_NAMESPACE -f .github/workflows/test-app.yml
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-02-17T13:14:05.012Z
